
.page-wrapper{
  width:80%;
  margin:auto;
}







*{
  box-sizing: border-box;
}
.body{
  background-color: aliceblue;
  opacity: 0.5;
  padding:10px;
}
h3{
  font-size: 70px;
  font-family: HelloStockholm-Regular;
  margin-bottom: -30px;

}
h1{
  font-family: Oranienbaum;
  letter-spacing: 4px;
  font-size: 100px;
  text-align: center;
}

@font-face {
    font-family: Oranienbaum;
    src: url(Oranienbaum.ttf);
}
@font-face {
    font-family: HelloStockholm-Regular;
    src: url(HelloStockholm-Regular.ttf);
}
img{
  margin-top: 50px;
}


/*first*/
.first{
  height:600px;
position: absolute;
margin-left: 10%;

}
.body{
  position: absolute;
    background-color: aliceblue;
    opacity: 0.5;
    margin-top: 10%;
    margin-left: 40%;
    width: 50%;
    padding:20px;
}
.preamble{
  position: relative;
  height: 600px;
  margin-bottom: 30px;
}
/*second*/

.second{
  height:600px;
position: absolute;
margin-left:40%;

}
.body2{
position: absolute;
  background-color: aliceblue;
  opacity: 0.5;
  margin-top: 10%;
  width: 50%;
  padding:20px;
}
.explanation{
  position: relative;
  height: 600px;
}


/*third*/
.third{
  width:60%;
margin-top: -600px;

}
.body3{
  margin-top: 700px;
margin-left: 40%;
max-height: 300px;
width:50%;
background-color: aliceblue;
opacity: 0.5;
}
.participation{
  margin-top: 30px;
}
/*fourth*/
.fourth{
  width:700px;
  margin-top: -23%;
  margin-bottom: 50px;
}
.benefits{
width:40%;
position: relative;
left:10%;
bottom:100px;
}

/*fifth*/

.fifth{
  width:500px;
  margin-left: 10%;
}
.requirements{
  width:40%;
  position: relative;
  bottom:750px;
  left:50%;

}
