
.page-wrapper{
  width:80%;
  text-align: center;
  margin:auto;
}
*{
  box-sizing: border-box;
}

/*3 photos
*/

.container{
  width:100%;
  margin:auto;

}
img{
  width:100%;
}
#zen-preamble{
  width:29%;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
  margin-top:40px;
  }

#zen-explanation{
  width:40%;
  display: inline-block;
  padding: 20px;
  vertical-align: top;

}
#zen-participation{
  width:29%;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    margin-top:150px;

}


/*benefits section*/

.cont1{
  max-height:1200px;
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 100px;
}
.hike{
  width:60%;
  float:right;

}
.feet{
  width:20%;
  margin-right:39%;
  float:left;
  margin:30px;
}

.four{
  float: left;
  width:39%;
  margin-top:15%;
}
.benefits{
margin-right:20%;
margin:30px;


}

/*requirements section*/
.feets{
  width:39%;
  float:right;
  padding:20px;
}
.requirements{
  margin-right: 40%;

}
